<md-toolbar color="primary">
  <span>Flat/Unflat-IT</span>
    <span class="example-spacer"></span>
    <a href="https://github.com/franzsilva/CodeChallengeAngular2"><md-icon fontSet="fa" fontIcon="fa-github" class="github-icon"></md-icon></a>
</md-toolbar>
<div class="inner-page">
    <md-input-container class="full-width">
      <textarea rows="20" [(ngModel)]=original mdInput placeholder="Paste JSON Here"></textarea>
    </md-input-container>
    <div fxLayout="row" fxLayoutAlign="end center" class="button-row">
      <button md-raised-button color="primary" (click)="format()">Format</button>
      <button md-raised-button color="primary" (click)="runFlatten()">Flatten</button>
      <button md-raised-button color="primary" (click)="runUnFlatten()">Unflatten</button>
    </div>
    
    </div>
    
